<ion-header>
  <ion-toolbar>
    <ion-title>To Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="medium">
    <ion-input placeholder="Enter Item" [(ngModel)]= "input"></ion-input> 
    <ion-buttons slot="end">
        <ion-button (click)="addListItem(input)" [disabled]="!input" color="light" >Add Items</ion-button>
    </ion-buttons>
    </ion-toolbar>
  <!-- <ion-list>
    <ion-item *ngFor="let item of listItems">
      {{item.name}}
      {{item.status}}
      <ion-checkbox [checked]="item.status" slot="start" (click)="changeItemStatus(item.id)"></ion-checkbox>
      <ion-button slot="end" fill="clear" (click)="deleteItem( item.id)"> 
        <ion-icon name="close">Delete</ion-icon>
      </ion-button>
    </ion-item>
  </ion-list> -->

  <ion-list>
  <ion-item *ngFor="let item of listItems" [class.done] = "item.status">
    <ion-buttons slot="start">
     <ion-checkbox [checked]="item.status" (ionChange)="changeItemStatus(item.id)"></ion-checkbox>
    </ion-buttons>

    <ion-label>{{item.name}}</ion-label>
    <!-- <p style="text-decoration: none" *ngIf="item.status">
      Done
    </p>   -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)= "deleteItem(item.id)" *ngIf = "item.status">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-item>
      <!-- </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteItem(item.id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>
  
</ion-content>
